/* fonst  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #222;
    --green: #6cbe02;
    --grey1: #f0f0f0;
    --grey2: #e9d7d3;
    --grey3: #a7a7a7;
}

html{
    font-size: 62%;
}
body{
    font-family: "Poppins",sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-style: normal;

}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}


.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;

}

.d-flex{
    display: flex;
    align-items: center;
}

/* --------------------------------------------- header  */
.header{
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.top-nav{
    background-color: var(--grey3);
    font-size: 1.3rem;
    color: var(--black);
}

.top-nav div{
    justify-content: space-between;
    height: 4.5rem;
}
.top-nav a{
    padding: 0 0.5rem;
    color: var(--white);
}


/* navigation   */
.navigation{
    height: 6rem;
    line-height: 6rem;
    background-color: rgb(247, 247, 247);
}

.nav-center{
    justify-content: space-between;
}

/* .nav-list .icons{ } */

.nav-center .nav-item:not(:last-child){
    margin-right: 0.5rem ;
}

.nav-center .nav-link{
    font-size: 1.8rem;
    padding: 1rem;
}

.nav-center .nav-link:hover{
    color: var(--green);
}


/* ---------------------------------------------  icons */
.icon{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1rem;
    color: #555;
    position: relative;
}

.icon:not(:last-child){
    margin-right: 0.5rem;
}

.icon span{
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: var(--black);
    color: white;
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
}

.nav-list .icons{
    display: none;
}

.nav-center .hamburger{
    display: none;
    font-size: 2.3rem;
    color: var(--black);
    cursor: pointer;
}


@media (max-width:768px){
    .nav-list{
        position: fixed;
        top: 12%;
        left: -100%;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        background-color: white;
        height: 100%;
        width: 0;
        max-width: 35rem;
        z-index: 100;
        transition: all 300ms ease-in-out;
    }
    .nav-list.open{
        left: 0;
        width: 100%;
    }
    .nav-list .nav-item{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .nav-list .nav-link{
        font-size: 2rem;
        color: var(--black);
    }
    .nav-center .hamburger{
        display: block;
        font-size: 3rem;
    }
    .icons{
        display: none;
    }
    .nav-list .icons{
        display: flex;

    }
    .top-nav ul{
        display: none;
    }
    .top-nav div{
        justify-content: center;
        height: 3rem; 
    }
}

/* ------------------------------------------ hero */
.hero,
.hero .glide__slides {
  background-color: black;
  position: relative;
  height: calc(100vh - 6rem);
  margin: 0 4rem;
  overflow: hidden;
}

 .hero .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 3rem;
}

.hero .left {
  position: absolute;
  top: 0%;
  left: 5rem;
  opacity: 0;
  transition: all 1ms ease-in-out;
}

.hero .left span {
  /* font-size: 5rem; */
    color: var(--white);
    /* color: var(--black); */
  } 
  
  .hero .left h1 {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--white);
    /* color: var(--black); */
  }
  
  .hero .left p {
    font-size: 4.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
    color: var(--white);
    /* color: var(--black); */
}

.hero .left .hero-btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  background-color: var(--green);
  color: white;
}

.hero .right {
  flex: 0 0 50%;
  height: 100%;
  position: relative;
  text-align: center;
}

 .hero .right img {
  position: absolute;
  width: 95rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.center .right img.img1{
  width: 85%;
  right: -25%;
  bottom: -50%;
}

.center .right img.img2 {
  width: 90%;
  right: -30%;
  bottom: 40%;
}

.glide__slide--active .center .right img {
  bottom: -3%;
  opacity: 1;
}

.glide__slide--active .left {
  opacity: 1;
  top: 35%;
}   




/* media  */
@media only screen and (max-width: 1500px) {
    .hero .left {
      left: 0;
    }
  }
  @media only screen and (max-width: 999px) {
    .glide__slide--active .left {
      top: 15%;
    }
  
    .center .right img.img1 {
      width: 90%;
    }
  
    .center .right img.img2 {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 567px) {
    .center .right img.img1 {
      width: 30rem;
    }
  
    .center .right img.img2 {
      width: 33rem;
    }
  
    .hero,
    .hero .glide__slides {
      margin: 0;
      padding: 0 3rem;
    }
  
    .hero .left h1 {
      font-size: 3rem;
    }
  
    .hero .left span {
      font-size: 1.4rem;
    }
    .hero .left p {
      font-size: 1.5rem;
      width: 80%;
    }
  }
  
  /*  ------------------------------------------------  Category Section */
  .section {
    padding: 0rem 0 5rem 0;
    overflow: hidden;
  }
  .section h1{
    font-size: 3.8rem;
    padding: 15px;
    text-align: center;
  }
  .section h2{
    font-size: 8rem;
    text-align: center;
    margin-top: 4.5rem;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .cat-center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 114rem;
    margin: auto;
    padding: 0 3rem;
  }
  
  .cat-center .cat {
    max-width: 37rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  
  .cat-center .cat:not(:last-child) {
    margin-right: 3rem;
  }
  
  .cat-center .cat img {
    width: 36.5rem;
    height: 100%;
    margin: auto;
    object-fit: cover;
    transition: all 2s ease;
  }
  
  .cat-center .cat:hover img {
    transform: scale(1.1);
  }
  
  .cat-center .cat div {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    width: 18rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  
  @media only screen and (max-width: 1200px) {
    .cat-center .cat img {
      width: 30rem;
    }
  }
  
  @media only screen and (max-width: 967px) {
    .cat-center .cat {
      max-width: 25rem;
      height: 20rem;
    }
  
    .cat-center .cat img {
      width: 25rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .section {
      padding: 5rem 0;
    }
  
    .cat-center {
      flex-direction: column;
      padding: 3rem;
    }
  
    .cat-center .cat {
      max-width: 100%;
      height: 30rem;
    }
  
    .cat-center .cat:not(:last-child) {
      margin-right: 0rem;
      margin-bottom: 5rem;
    }
  
    .cat-center .cat img {
      width: 100%;
    }
  }
  
  /*   ----------------------------------------------  New Arrivals */
  .title {
    text-align: center;
    margin-bottom: 5rem;
  }
  
  .title h1 {
    font-size: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .product-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .product-item {
    position: relative;
    width: 27rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  
  .product-thumb img {
    width: 100%;
    height: 31rem;
    object-fit: cover;
    transition: all 500ms linear;
  }
  
  .product-info {
    padding: 1rem;
    text-align: center;
  }
  
  .product-info span {
    display: inline-block;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .product-info a {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
    transition: all 300ms ease;
  }
  
  .product-info a:hover {
    color: var(--green);
  }
  
  .product-item .icons {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .product-item .icons li {
    background-color: var(--white);
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 2.3rem;
    cursor: pointer;
    transition: 300ms ease-out;
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
  }
  
  .product-item .icons li:first-child {
    transition-delay: 0.1s;
  }
  
  .product-item .icons li:nth-child(2) {
    transition-delay: 0.2s;
  }
  
  .product-item .icons li:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  .product-item:hover .icons li {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  
  .product-item .icons li:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .product-item .icons li:hover {
    background-color: var(--green);
    color: var(--white);
  }
  
  .product-item .overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
  }
  
  .product-item .overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 300ms ease-out;
  }
  
  .product-item:hover .overlay::after {
    visibility: visible;
    opacity: 1;
  }
  
  .product-item:hover .product-thumb img {
    transform: scale(1.1);
  }
  
  .product-item .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: var(--green);
    padding: 0.5rem 1rem;
    color: var(--white);
    border-radius: 2rem;
    font-size: 1.5rem;
  }
  
  @media only screen and (max-width: 567px) {
    .product-center {
      max-width: 100%;
      padding: 0 1rem;
    }
  
    .product-item {
      width: 40%;
      margin-bottom: 3rem;
    }
  
    .product-thumb img {
      height: 20rem;
    }
  
    .product-item {
      margin-right: 2rem;
    }
  
    .product-item .icons li {
      padding: 0.5rem 1rem;
      font-size: 1.8rem;
    }
  }

/* -----------------------------------------  promo */

.promo {
  position: relative;
  background-image: url('../img/just.webp');
  height: 60vh;
}

.promo h1 {
  display: inline-block;
  font-size: 6.4rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.promo .btn {
  display: block;
  text-align: left;
  color: var(--white);
}
.promo button {
  display: block;
  padding: 12px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  
}

@media only screen and (max-width: 1500px) {
  .promo {
    padding: 14rem;
  }
}

@media only screen and (max-width: 996px) {
  .promo {
    padding: 8rem 2rem;
  }

  .promo h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 768px) {

  .promo {
 width: auto;
  }
}

@media only screen and (max-width: 567px) {
  .promo {
    padding: 8rem 5rem;
  }

  .promo h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .promo .btn {
    padding: 0.8rem 1.7rem;
    font-size: 1.4rem;
  }
}

/*----------------------------------------- Footer */
.footer {
  padding: 7rem 1rem;
  background-color: var(--black);
}

footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 99.6rem;
  margin: 0 auto;
}

.footer .col {
  flex-direction: column;
  color: var(--white);
  align-items: flex-start;
}

.footer .col:last-child {
  flex-direction: row;
  justify-content: center;
}

.footer .col:last-child span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--white);
}

.footer .col a {
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 300;
}

.footer .col h4 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 567px) {
  footer .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}


/* Login Form */
.login-form {
  padding: 5rem 0;
  max-width: 50rem;
  margin: 5rem auto;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form form h1 {
  margin-bottom: 1rem;
}
.login-form form p {
  margin-bottom: 2rem;
}

.login-form form label {
  margin-bottom: 1rem;
}

.login-form form input {
  border: 1px solid #ccc;
  outline: none;
  padding: 1.5rem 0;
  text-indent: 1rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.login-form form input::placeholder {
  font-size: 1.6rem;
  color: #222;
}

.login-form form .buttons {
  margin-top: 1rem;
}

.login-form form button {
  outline: none;
  border: none;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  margin-right: 1.5rem;
  background-color: var(--green);
  color: white;
  cursor: pointer;
}

.login-form form p a {
  color: dodgerblue;
} 
